# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/

# Environment Variables
.env

# Logs
logs/
*.log

# VS Code
.vscode/

# Operating System
Thumbs.db
.DS_Store

# Jupyter
.ipynb_checkpoints/